html {
	background-color: #2d9c93;
}

/****************HEADER***************/

.header {
	background-color: #f1ebdd;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 100px;
	margin-left: 150px;
	margin-right: 150px;
	min-width: 925px;
}

.image {
	margin-left: 30px;
	margin-top: 10px;
	float: left;
}

.top {
	height: 200px;
}

.info {
	border-top: 3px solid black;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.heading {
	padding-top: 25px;
	padding-right: 30px;
	text-align: right;
}

.heading2 {
	padding-right: 20px;
	text-align: right;
}

.title {
	padding-left: 150px;
	padding-right: 30px;
	border-right: 10px solid black;
	height: 200px;
	width: 400px;
	float: left;
}

/*******************BODY******************/

.body {
	background-color: #f1ebdd;
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 50px;
	padding-top: 25px;
	height: 1000px;
	min-width: 1075px;	
}
